{% extends 'shared/layout.html' %}
{% block body %}
<header class="jumbotron">
    <div class="container">
        <h1>Product created!</h1>
    </div>
</header>
<section>
    <div class="container">
        <h2>You have successfully created a new product.</h2>
        <!-- TODO: 顯示剛才被成功產生的產品資訊 -->
        <div>
            <h3>Product title: {{session['title']}}</h3>
            <p>Product price: {{session['price']}}</p>
            <p>Product category: {{session['category']}}</p>
        </div>
        <a href="/">Back Home</a>
    </div>
</section>
{% endblock %}