<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Home</h1>
    <p>welcome</p>
    <p>{{ content['title'] }}</p>
    <p>{{ content['text'] }}</p>
    <p>Lucky nums : {{ lucky_nums }}</p>
    <p>Lucky nums :
        {% for n in lucky_nums %}
        <span>{{n}}</span>
        {% if loop.index != lucky_nums|length%}
        <span>,</span>
        {%endif%}
        {% endfor %}
    </p>
    <p>{{ lucky_nums[3] }}</p>
    <a href="/about">go to about</a>
</body>

</html>